
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.iphone-14-pro-1-ocd {
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-xlsj-om3 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.803rem 1.9rem 4.1rem 3.2rem;
    width: 100%;
    align-items: center;

    .auto-group-4szb-Bf7 {
      margin: 0rem 1.474rem 1.972rem 0rem;
      width: calc(100% - 1.4743rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .menu-GwT {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.097rem 17.9rem 0rem 0rem;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .ellipse-1-kLq {
        width: 5.8257rem;
        height: 5.8253rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-8fez-fyb {
      border-radius: 3.6rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 20.9rem 1.4rem 2rem;
      display: flex;
      align-items: center;
      margin: 0rem 1.3rem 3.2rem 0rem;
      width: calc(100% - 1.3rem);
      background-color: #efeeee;

      .vector-mWq {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.3rem;
        width: 1.8rem;
        height: 1.8rem;
        object-fit: contain;
      }
      .search-ud3 {
        color: #7c7c7c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .auto-group-n8p3-EYq {
      column-gap: 1.4rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      width: 100%;
      height: 7.5rem;
      display: flex;

      .auto-group-fodb-xUq {
        box-sizing: border-box;
        padding: 0.6rem 0.7rem 0.568rem 0.4rem;
        height: 100%;
        background-color: #ff9800;
        border-radius: 2rem;
        flex-shrink: 0;

        .burger-png-thumb-1-tNV {
          width: 6.4rem;
          height: 6.3319rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-2wuu-zRX {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem 0.7rem 1.3rem 0.6rem;
        height: 100%;
        background-color: #d9d9d9;
        border-radius: 2rem;

        .food-indian-transparent-photopngimagesfree-1-j8D {
          width: 6.2rem;
          height: 5rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-5hdb-RWq {
        height: 100%;
        background-color: #d9d9d9;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.1rem 0rem 2.2rem 0.4rem;

        .food-png-free-download-1-m4u {
          width: 7.1rem;
          height: 3.2rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-3eyo-gBs {
        height: 100%;
        background-color: #d9d9d9;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.7rem 0.8rem 0.8rem 0.7rem;

        .pizza-png-pizza-images-with-white-background-transparent-1-Dhb {
          width: 6rem;
          height: 6rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-yl1f-uKX {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.4rem 0.8rem 2.9rem;
      width: calc(100% - 4.3rem);

      .all-2Q9 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 6.4rem 0rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ff9800;
        font-family: Poppins, 'Source Sans Pro';
      }
      .roll-k5F {
        line-height: 1.5;
        color: #7c7c7c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 4.5rem 0rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .noodle-5NR {
        font-weight: 400;
        line-height: 1.5;
        color: #7c7c7c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 4.5rem 0.2rem 0rem;
        font-size: 1.6rem;
      }
      .pizza-QQh {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #7c7c7c;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .auto-group-8c3t-LZF {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 0.9rem 1.2rem 0rem;
      width: 33.3rem;
      height: 20.2rem;

      .rectangle-3-epq {
        width: 32.8rem;
        height: 13.4rem;
        position: absolute;
        left: 0;
        top: 6.8rem;
        background: linear-gradient(112deg, #ff9800 35.61%, rgba(255, 152, 0, 0.5299999714) 96.96%);
        border-radius: 2rem;
      }
      .promotions-Kg5 {
        font-size: 2.5rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        font-weight: 500;
        color: #000000;
        white-space: nowrap;
        width: 14.4rem;
        height: 3.8rem;
        position: absolute;
        left: 0;
        top: 1.6rem;
      }
      .free-pack-ice-cream-EY9 {
        color: #efeeee;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 25.7rem;
        position: absolute;
        left: 2rem;
        font-weight: 600;
        line-height: 1.5;
        height: 3.8rem;
        top: 11.6rem;
        font-size: 2.5rem;
      }
      .single-scoop-vanilla-ice-cream-on-sugar-cone-scoop-ice-cream-png-removebg-1-vQy {
        height: 13.3rem;
        position: absolute;
        left: 17.2rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 16.1rem;
      }
      .todays-offer-cYh {
        line-height: 1.5;
        color: #efeeee;
        font-family: Poppins, 'Source Sans Pro';
        width: 11.1rem;
        top: 8.2rem;
        left: 2.1rem;
        font-size: 1.7rem;
        font-weight: 500;
        white-space: nowrap;
        height: 2.6rem;
        position: absolute;
      }
      .on-all-orders-above-200-hq3 {
        color: #efeeee;
        font-family: Poppins, 'Source Sans Pro';
        top: 15.9rem;
        font-weight: 500;
        line-height: 1.5;
        left: 2.1rem;
        font-size: 1.7rem;
        white-space: nowrap;
        width: 21.2rem;
        height: 2.6rem;
        position: absolute;
      }
    }
    .popular-bvR {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 24.4rem 1.8rem 0rem;
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .auto-group-w3pm-KrR {
      margin-right: 1.2rem;
      width: calc(100% - 1.2rem);
      height: 13.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-afvq-4Z7 {
        width: 15.4rem;
        height: 100%;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.2rem;
        box-sizing: border-box;
        padding: 0.8rem 0rem 0.7rem 1.4rem;
        display: flex;
        background-color: #d9d9d9;
        border-radius: 2rem;

        .food-indian-transparent-photopngimagesfree-2-aGZ {
          margin-right: 1.9rem;
          width: 7.5rem;
          height: 6.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .roll-6kh {
          margin: 0rem 1.9rem 0.2rem 0rem;
          font-family: Poppins, 'Source Sans Pro';
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-5nqy-zbB {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item-20-Ysb {
            margin-right: 8.2rem;
            text-align: center;
            line-height: 1.5;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            font-family: Poppins, 'Source Sans Pro';
          }
          .flat-color-icons-plus-bUV {
            flex-shrink: 0;
            width: 2.8rem;
            height: 2.8rem;
            cursor: pointer;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .auto-group-qdrb-VJy {
        height: 100%;
        flex-direction: column;
        padding: 0.8rem 0.467rem 0.9rem 1.5rem;
        width: 15.4rem;
        display: flex;
        background-color: #d9d9d9;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        align-items: center;

        .indian-food-samosapngimagesfree-2-Ndf {
          width: 6.9rem;
          height: 6.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.1333rem;
        }
        .momos-52H {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.333rem 0.356rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .auto-group-zkwd-Nn5 {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .item-20-LD7 {
            text-align: center;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            margin: 0.044rem 8.256rem 0rem 0rem;
            font-weight: 600;
            line-height: 1.5;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
          .flat-color-icons-plus-bPw {
            vertical-align: top;
            flex-shrink: 0;
            width: 2.1778rem;
            height: 2.1778rem;
            object-fit: contain;
          }
        }
      }
    }
  }
  .auto-group-mksq-UTj {
    align-items: center;
    background-color: #cfcfcf;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 3.4rem 3rem 3.2rem;
    width: 100%;
    display: flex;
    column-gap: 7.7rem;

    .vector-C8q {
      width: 2.4rem;
      height: 2.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-Xwo {
      width: 2.4rem;
      height: 2.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-LeM {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
    }
    .vector-UkZ {
      vertical-align: top;
      flex-shrink: 0;
      width: 2.4rem;
      height: 2.4rem;
      object-fit: contain;
    }
  }
}
