
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.iphone-14-pro-3-56Z {
  display: flex;
  flex-direction: column;
  border-radius: 2.4rem;
  padding: 16.4rem 2.3rem 8rem 2.2rem;
  position: relative;
  align-items: center;
  background: linear-gradient(168.79deg, #fb9908 41.5%, #ffb64c 94.41%);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  .auto-group-7srx-NbT {
    border-radius: 17.4rem;
    flex-shrink: 0;
    margin-bottom: 6.2rem;
    box-sizing: border-box;
    padding: 5.6rem 3.3rem 1.3rem 3.3rem;
    width: 100%;
    background-color: #ffffff;

    .burger-png-thumb-1-Vg5 {
      height: 27.9rem;
      object-fit: cover;
      vertical-align: top;
      width: 28.2rem;
    }
  }
  .enjoy-your-food-bz1 {
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    margin: 0rem 0rem 2rem 0.1rem;
    max-width: 18.5rem;
    font-weight: 700;
    flex-shrink: 0;
    text-align: center;
    font-size: 3.6rem;
  }
  .group-2-Unu {
    text-align: center;
    width: calc(100% - 8.4rem);
    height: 7rem;
    line-height: 1.5;
    align-items: center;
    flex-shrink: 0;
    margin: 0 4.2rem;
    font-size: 2.5rem;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 4.2rem;
    font-weight: 600;
    color: #ff9800;
    display: flex;
  }
}
