
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-1-nNu {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-jbqm-Pdb {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 9.9rem 16.8rem 12.7rem 16.9rem;
    width: 100%;
    align-items: center;
    background-color: #f7f7e8;
    flex-shrink: 0;
    margin-bottom: 9.1rem;

    .auto-group-nh6r-Dm3 {
      margin-bottom: 8.5rem;
      width: 100%;
      height: 5.3rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .maxhu-Y2d {
        flex-shrink: 0;
        margin-right: 18.9rem;
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.2;
        color: #557174;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
      }
      .frame-1-pVw {
        margin: 0.6rem 15.1rem 1.7rem 0rem;
        height: calc(100% - 2.3rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .men-YB3 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
        }
        .woman-rSd {
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.6rem;
          font-size: 2rem;
        }
        .kids-MuB {
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.8rem;
          font-size: 2rem;
          font-weight: 500;
        }
        .collections-tPK {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.7rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
        }
        .trends-cq7 {
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 500;
        }
      }
      .group-3-9a9 {
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 600;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        line-height: 1.5;
        align-items: center;
        background-color: #d9d9d9;
        margin-top: 0.3rem;
        width: 14rem;
        height: 5rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        border: solid 0.1rem #000000;
        box-sizing: border-box;
      }
    }
    .auto-group-6wjm-aQZ {
      height: 61.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .auto-group-arrj-Kd3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 2.4rem 26.8rem 3.2rem 0rem;
        height: calc(100% - 5.6rem);

        .find-the-best-fashion-style-for-you-pJu {
          margin-bottom: 1.4rem;
          max-width: 40.3rem;
          font-size: 6.4rem;
          font-weight: 900;
          line-height: 1.2925;
          color: #000000;
          font-family: Frank Ruhl Libre, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nullam-vel-urna-vitae-dolor-convallis-pharetra-suspendisse-potenti-vivamus-auctor-elit-nec-fermentum-tristique-ligula-nunc-consequat-nunc-id-hendrerit-turpis-elit-vel-turpis-6nD {
          flex-shrink: 0;
          margin-bottom: 3.2rem;
          max-width: 38.4rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .group-2-i2u {
          width: 21.1rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          height: 5.7rem;
          font-size: 2rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          border: solid 0.1rem #000000;
          color: #ffffff;
          background-color: #557174;
          font-weight: 600;
          line-height: 1.5;
          box-sizing: border-box;
        }
      }
      .auto-group-vxum-BhB {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 50.4rem;

        .rectangle-3-jih {
          left: 0;
          top: 1.2rem;
          object-fit: contain;
          vertical-align: top;
          width: 50.4rem;
          height: 60.6rem;
          position: absolute;
        }
        .png-clipart-businessperson-graphy-corporation-businessman-tshirt-blue-thumbnail-1-FBF {
          object-fit: cover;
          vertical-align: top;
          width: 45.7rem;
          height: 61.8rem;
          position: absolute;
          left: 2.6rem;
          top: 0;
        }
      }
    }
  }
  .new-collection-Htd {
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
    line-height: 1.2925;
    color: #000000;
    font-family: Frank Ruhl Libre, 'Source Sans Pro';
    margin: 0rem 0rem 2.3rem 2.5rem;
    white-space: nowrap;
    flex-shrink: 0;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nullam-vel-urna-vitae-dolor-convallis-pharetra-z2M {
    flex-shrink: 0;
    margin-left: 2.6rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-aupf-s69 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.9rem 16.8rem 21.6rem 16.9rem;
    width: 100%;

    .auto-group-6rtf-nD7 {
      height: 29rem;
      display: flex;
      column-gap: 11.8rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 12.2rem;
      width: 100%;

      .frame-14-i6m {
        flex-shrink: 0;
        width: 31.3rem;
        height: 100%;
        background-color: #a1a1a1;

        .item-18320060417292362048-1-sEZ {
          vertical-align: top;
          width: 31.3rem;
          height: 29rem;
          object-fit: cover;
        }
      }
      .auto-group-yodk-n6d {
        width: 31.3rem;
        height: 100%;
        background-color: #d4d5d0;
        flex-shrink: 0;

        .images-3-1-7Po {
          width: 31.3rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-ezcv-DSq {
        height: 100%;
        background-color: #d4d5d0;
        flex-shrink: 0;
        width: 31.3rem;

        .images-5-1-Acy {
          width: 31.3rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-bfb7-Vv9 {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 7.5rem 0rem 6.6rem;
      width: calc(100% - 14.1rem);
      height: 84.2rem;

      .best-fashion-since-2014-ovq {
        height: 16.6rem;
        top: 12.9rem;
        font-weight: 900;
        line-height: 1.2925;
        color: #000000;
        font-family: Frank Ruhl Libre, 'Source Sans Pro';
        width: 39.2rem;
        position: absolute;
        left: 63.2rem;
        font-size: 6.4rem;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nullam-vel-urna-vitae-dolor-convallis-pharetra-suspendisse-potenti-vivamus-auctor-elit-nec-fermentum-tristique-ligula-nunc-consequat-nunc-id-hendrerit-turpis-elit-vel-turpis-Jsb {
        height: 28.8rem;
        position: absolute;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        width: 39rem;
        top: 33rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5;
        left: 63.2rem;
      }
      .rectangle-7-Knh {
        width: 55.6rem;
        height: 68.1rem;
        position: absolute;
        left: 2.3rem;
        top: 10.5rem;
        background: linear-gradient(52.08deg, #c7cfb7 12.02%, rgba(199, 207, 183, 0) 89.26%);
        border-radius: 16.1rem 0 0 0;
      }
      .rectangle-8-CLh {
        position: absolute;
        left: 40.9rem;
        top: 66.2rem;
        background-color: #a1a1a1;
        width: 62.5rem;
        height: 18rem;
      }
      .frame-2-v1o {
        width: 47.9rem;
        height: 9.3rem;
        position: absolute;
        left: 50.2rem;
        top: 68.85rem;
        display: flex;
        align-items: center;

        .item-2014-F45 {
          flex-shrink: 0;
          margin-right: 7.9rem;
          text-align: center;
          font-size: 4rem;
          font-weight: 900;
          line-height: 2.3209999084;
          color: #000000;
          font-family: Frank Ruhl Libre, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-8900-mo7 {
          font-size: 4rem;
          font-family: Frank Ruhl Libre, 'Source Sans Pro';
          white-space: nowrap;
          color: #000000;
          flex-shrink: 0;
          margin-right: 8.1rem;
          text-align: center;
          font-weight: 900;
          line-height: 2.3209999084;
        }
        .item-3105-hgm {
          text-align: center;
          font-size: 4rem;
          font-weight: 900;
          line-height: 2.3209999084;
          color: #000000;
          font-family: Frank Ruhl Libre, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .line-1-dqK {
        width: 0.1rem;
        height: 8.8023rem;
        position: absolute;
        left: 63.05rem;
        top: 70.7989rem;
        background-color: #000000;
      }
      .line-2-AKT {
        width: 0.1rem;
        height: 8.8023rem;
        position: absolute;
        left: 82.15rem;
        top: 70.7989rem;
        background-color: #000000;
      }
      .maxhu-founded-JgZ {
        left: 48.15rem;
        text-align: center;
        line-height: 1.5;
        white-space: nowrap;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        width: 13.1rem;
        height: 2.4rem;
        position: absolute;
        top: 77rem;
        font-size: 1.6rem;
        font-weight: 600;
      }
      .product-sold-bvZ {
        top: 77.2rem;
        font-size: 1.6rem;
        font-weight: 600;
        font-family: Poppins, 'Source Sans Pro';
        width: 10.3rem;
        height: 2.4rem;
        position: absolute;
        left: 67rem;
        text-align: center;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
      }
      .best-reviews-Wnd {
        font-family: Poppins, 'Source Sans Pro';
        width: 10.6rem;
        position: absolute;
        left: 86.9rem;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #000000;
        height: 2.4rem;
        top: 77rem;
        text-align: center;
        font-weight: 600;
        white-space: nowrap;
      }
      .pure-linen-henley-t-shirt-1-q4D {
        object-fit: cover;
        vertical-align: top;
        width: 54.7rem;
        height: 78.5641rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .auto-group-mhbx-kS5 {
    background-color: #557174;
    box-sizing: border-box;
    padding: 12.2rem 0rem 9.4rem 16.9rem;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 9rem;
    width: 178.5rem;
    height: 73rem;

    .auto-group-wzn9-fJ9 {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 6.9rem;

      .best-fashion-since-2014-CYy {
        font-weight: 900;
        line-height: 1.2925;
        color: #ffffff;
        font-family: Frank Ruhl Libre, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 4rem;
        max-width: 39.2rem;
        font-size: 6.4rem;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nullam-vel-urna-vitae-dolor-convallis-pharetra-suspendisse-potenti-vivamus-auctor-Kdb {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 4.6rem;
        max-width: 38rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
      }
      .group-4-zDw {
        color: #ffffff;
        justify-content: center;
        height: 8.2rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        background-color: #557174;
        margin-left: 0.2rem;
        width: 23.5rem;
        line-height: 1.5;
        border: solid 0.1rem #ffffff;
        box-sizing: border-box;
        flex-shrink: 0;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 700;
        align-items: center;
      }
    }
    .auto-group-isb3-qkM {
      margin: 0.5rem 2.5rem 0rem 0rem;
      width: 36.9rem;
      flex-shrink: 0;

      .auto-group-rxsp-aC9 {
        width: 100%;
        height: 37.1rem;
        position: relative;

        .rectangle-10-X7P {
          top: 0;
          background-color: #a1a1a1;
          width: 36.8rem;
          height: 37.1rem;
          position: absolute;
          left: 0;
        }
        .rectangle-14-dgD {
          left: 0;
          top: 0;
          background-color: #a1a1a1;
          width: 36.8rem;
          height: 37.1rem;
          position: absolute;
        }
        .attractive-brunet-man-stylish-white-shirt-trendy-sunglasses-poses-orange-background-holds-black-jacket-1-mXX {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 36.8rem;
          height: 37.1rem;
          position: absolute;
          left: 0.1rem;
        }
      }
      .auto-group-b5p7-FxV {
        width: 36.8rem;
        height: 13.8rem;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 1.95rem 2.7rem 2.05rem 2.7rem;

        .frame-4-aUy {
          height: 100%;
          width: 16.8rem;

          .auto-group-szp5-8WV {
            margin-bottom: 1rem;
            display: flex;
            column-gap: 1.1rem;
            align-items: center;

            .vector-Cem {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-jub {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-Hw7 {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-3vH {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-1cD {
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
            }
          }
          .pastel-long-sleeve-xGZ {
            white-space: nowrap;
            margin-bottom: 1.2rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2925;
            color: #000000;
            font-family: Frank Ruhl Libre, 'Source Sans Pro';
          }
          .auto-group-escy-gTT {
            width: calc(100% - 4rem);
            display: flex;
            align-items: center;
            margin-right: 4rem;

            .item-220-2XK {
              line-height: 1.5;
              color: rgba(0, 0, 0, 0.3400000036);
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.3rem;
              font-size: 2rem;
              font-weight: 500;
            }
            .item-140-kTK {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
            }
          }
        }
      }
    }
    .auto-group-suus-TsX {
      flex-shrink: 0;
      margin: 0.5rem 2.5rem 0rem 0rem;
      width: 36.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-a1i1-nuo {
        box-sizing: border-box;
        padding: 0.1rem 0rem 0rem 0.1rem;
        width: 100%;
        background-color: #a1a1a1;
        flex-shrink: 0;

        .man-black-t-shirt-smiles-sweetly-orange-wall-1-vm7 {
          height: 37rem;
          object-fit: cover;
          vertical-align: top;
          width: 36.7rem;
        }
      }
      .auto-group-hxt9-d9j {
        box-sizing: border-box;
        padding: 1.95rem 2rem 2.05rem 2rem;
        width: 100%;
        height: 13.8rem;
        background-color: #ffffff;
        flex-shrink: 0;

        .frame-5-ww7 {
          width: 16.8rem;
          height: 100%;

          .auto-group-sf1s-trM {
            margin-bottom: 1rem;
            display: flex;
            column-gap: 1.1rem;
            align-items: center;

            .vector-S7B {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-ycu {
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-Kwf {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
            }
            .vector-gnD {
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
            }
            .vector-qf7 {
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .pastel-long-sleeve-BU5 {
            white-space: nowrap;
            margin-bottom: 1.2rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2925;
            color: #000000;
            font-family: Frank Ruhl Libre, 'Source Sans Pro';
          }
          .auto-group-qngy-hhK {
            margin-right: 4rem;
            width: calc(100% - 4rem);
            display: flex;
            align-items: center;

            .item-220-rKK {
              font-weight: 500;
              line-height: 1.5;
              color: rgba(0, 0, 0, 0.3400000036);
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.3rem;
              font-size: 2rem;
            }
            .item-140-nTs {
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
    .auto-group-mwau-hKw {
      flex-shrink: 0;
      margin-top: 0.5rem;
      width: 36.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-51tm-Eam {
        background-color: #a1a1a1;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.1rem;
        width: 100%;

        .man-orange-sweater-holding-wireless-speaker-happy-listening-music-having-fun-colorful-style-happy-mood-isolated-yellow-1-1-Nws {
          width: 36.8rem;
          height: 37rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-znu1-4Zo {
        box-sizing: border-box;
        padding: 1.95rem 2.2rem 2.05rem 2.2rem;
        width: 100%;
        height: 13.8rem;
        background-color: #ffffff;
        flex-shrink: 0;

        .frame-6-Pc5 {
          width: 16.8rem;
          height: 100%;

          .auto-group-jewk-LnD {
            column-gap: 1.1rem;
            align-items: center;
            margin-bottom: 1rem;
            display: flex;

            .vector-gbB {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-Ech {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
            }
            .vector-PkV {
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-MSR {
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
            }
            .vector-i25 {
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .pastel-long-sleeve-4Lq {
            color: #000000;
            font-family: Frank Ruhl Libre, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.2rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2925;
          }
          .auto-group-bzop-zEV {
            margin-right: 4rem;
            width: calc(100% - 4rem);
            display: flex;
            align-items: center;

            .item-220-8rV {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: rgba(0, 0, 0, 0.3400000036);
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.3rem;
            }
            .item-140-Q3K {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .our-product-tz5 {
    font-size: 6rem;
    color: #000000;
    font-family: Frank Ruhl Libre, 'Source Sans Pro';
    flex-shrink: 0;
    margin-left: 0.1rem;
    text-align: center;
    font-weight: 900;
    line-height: 1.2925;
    white-space: nowrap;
  }
  .auto-group-jmzs-dAy {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.2rem 16.8rem 31.2rem 16.9rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .frame-3-jUu {
      margin: 0rem 29.9rem 12.2rem 29.3rem;
      width: calc(100% - 59.2rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .hot-4n5 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.9rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .on-sale-Qb3 {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.7rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
      }
      .trending-now-9oX {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.8rem;
      }
      .new-arrival-VcV {
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-jkld-dyb {
      height: 37.1rem;
      display: flex;
      column-gap: 3.2rem;
      align-items: center;
      flex-shrink: 0;
      margin-right: 0.7rem;

      .auto-group-7m2r-Yqf {
        width: 36.8rem;
        height: 100%;
        background-color: #a1a1a1;
        flex-shrink: 0;

        .images-6-1-W1o {
          vertical-align: top;
          width: 36.8rem;
          height: 37.1rem;
          object-fit: cover;
        }
      }
      .auto-group-wver-ReZ {
        width: 36.8rem;
        height: 100%;
        background-color: #a1a1a1;
        flex-shrink: 0;

        .black-1-aGZ {
          vertical-align: top;
          width: 36.8rem;
          height: 37.1rem;
          object-fit: cover;
        }
      }
      .auto-group-espz-JyF {
        width: 36.8rem;
        height: 100%;
        background-color: #a1a1a1;
        flex-shrink: 0;

        .a8e88c43ff31cb58ecba2bce25f20e4-1-foo {
          width: 36.8rem;
          height: 37.1rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-raem-BXF {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.7rem 9rem 0rem;
      height: 13.8rem;
      display: flex;
      column-gap: 3.2rem;

      .auto-group-b1fp-uTF {
        padding: 1.95rem 10.85rem 2.05rem 9.15rem;
        width: 36.8rem;
        height: 100%;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;

        .frame-7-qLu {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;

          .auto-group-9hto-nX3 {
            margin: 0rem 0.95rem 1rem 1.45rem;
            width: calc(100% - 2.4rem);
            display: flex;
            column-gap: 1.1rem;
            align-items: center;
            flex-shrink: 0;

            .vector-hP7 {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-3C5 {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-Pmj {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-jqb {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-Vpm {
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
            }
          }
          .pastel-long-sleeve-Szu {
            color: #000000;
            font-family: Frank Ruhl Libre, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2925;
          }
          .auto-group-jqyr-PQM {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 3rem 0rem 1rem;
            width: calc(100% - 4rem);

            .item-220-8Mw {
              font-weight: 500;
              line-height: 1.5;
              color: rgba(0, 0, 0, 0.3400000036);
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.3rem;
              font-size: 2rem;
            }
            .item-140-s4d {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-zu2v-zQ9 {
        box-sizing: border-box;
        padding: 1.95rem 11.25rem 2.05rem 8.75rem;
        width: 36.8rem;
        height: 100%;
        background-color: #ffffff;
        flex-shrink: 0;

        .frame-8-XQ5 {
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;

          .auto-group-pxtt-gnm {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0.95rem 1rem 1.45rem;
            width: calc(100% - 2.4rem);
            display: flex;
            column-gap: 1.1rem;

            .vector-14M {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
            }
            .vector-9wF {
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
            }
            .vector-uvR {
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-GFB {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-pGh {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .pastel-long-sleeve-CY9 {
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2925;
            color: #000000;
            font-family: Frank Ruhl Libre, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-luro-vDF {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 3rem 0rem 1rem;
            width: calc(100% - 4rem);
            display: flex;

            .item-220-ef3 {
              line-height: 1.5;
              color: rgba(0, 0, 0, 0.3400000036);
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.3rem;
              font-size: 2rem;
              font-weight: 500;
            }
            .item-140-aob {
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
            }
          }
        }
      }
      .auto-group-1yrf-iQ1 {
        box-sizing: border-box;
        padding: 1.95rem 10.25rem 2.05rem 9.75rem;
        width: 36.8rem;
        height: 100%;
        background-color: #ffffff;
        flex-shrink: 0;

        .frame-9-3BP {
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          .auto-group-tsmw-Pm3 {
            width: calc(100% - 2.4rem);
            display: flex;
            column-gap: 1.1rem;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0.95rem 1rem 1.45rem;

            .vector-Jt1 {
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
            }
            .vector-TW1 {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-opm {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-MrH {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
            }
            .vector-WjB {
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .pastel-long-sleeve-sJq {
            font-weight: 700;
            line-height: 1.2925;
            color: #000000;
            font-family: Frank Ruhl Libre, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 2rem;
          }
          .auto-group-jn9o-Cru {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 3rem 0rem 1rem;
            width: calc(100% - 4rem);

            .item-220-9XF {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.3rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: rgba(0, 0, 0, 0.3400000036);
              font-family: Poppins, 'Source Sans Pro';
            }
            .item-140-gn5 {
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
          }
        }
      }
    }
    .auto-group-xsxh-1pM {
      margin-right: 0.7rem;
      height: 37.1rem;
      display: flex;
      column-gap: 3.2rem;
      align-items: center;
      flex-shrink: 0;

      .auto-group-mu5b-YpH {
        width: 36.8rem;
        height: 100%;
        background-color: #a1a1a1;
        flex-shrink: 0;

        .images-5-2-76h {
          width: 36.8rem;
          height: 37.1rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-wtcv-Sem {
        height: 100%;
        background-color: #a1a1a1;
        flex-shrink: 0;
        width: 36.8rem;

        .images-4-1-zwB {
          width: 36.8rem;
          height: 37.1rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-x29o-YC1 {
        width: 36.8rem;
        height: 100%;
        background-color: #a1a1a1;
        flex-shrink: 0;

        .images-7-1-HvH {
          width: 36.8rem;
          height: 37.1rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-awgm-djF {
      margin: 0rem 0.7rem 11.4rem 0rem;
      height: 13.8rem;
      display: flex;
      column-gap: 3.2rem;
      align-items: center;
      flex-shrink: 0;

      .auto-group-nozs-ZN1 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.95rem 10.25rem 2.05rem 9.75rem;
        width: 36.8rem;
        height: 100%;
        background-color: #ffffff;

        .frame-10-VmT {
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          .auto-group-w5gv-Sgh {
            width: calc(100% - 2.4rem);
            display: flex;
            column-gap: 1.1rem;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0.95rem 1rem 1.45rem;

            .vector-mDB {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-7nq {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-sGD {
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
            }
            .vector-R2q {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-NCy {
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
            }
          }
          .pastel-long-sleeve-ind {
            font-weight: 700;
            line-height: 1.2925;
            color: #000000;
            font-family: Frank Ruhl Libre, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 2rem;
          }
          .auto-group-zpy5-4Lh {
            width: calc(100% - 4rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 3rem 0rem 1rem;

            .item-220-oJH {
              color: rgba(0, 0, 0, 0.3400000036);
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.3rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .item-140-97F {
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .auto-group-zrwt-U9X {
        width: 36.8rem;
        height: 100%;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.95rem 10.25rem 2.05rem 9.75rem;

        .frame-11-CbK {
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;

          .auto-group-tn97-x4h {
            margin: 0rem 0.95rem 1rem 1.45rem;
            width: calc(100% - 2.4rem);
            display: flex;
            column-gap: 1.1rem;
            align-items: center;
            flex-shrink: 0;

            .vector-UHw {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-Riy {
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-PA1 {
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
            }
            .vector-8tH {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-hRb {
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .pastel-long-sleeve-FT7 {
            font-family: Frank Ruhl Libre, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2925;
            color: #000000;
          }
          .auto-group-otdf-zQh {
            margin: 0rem 3rem 0rem 1rem;
            width: calc(100% - 4rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-220-irV {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: rgba(0, 0, 0, 0.3400000036);
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.3rem;
            }
            .item-140-Tp5 {
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
          }
        }
      }
      .auto-group-tnhx-o7F {
        box-sizing: border-box;
        padding: 1.95rem 9.65rem 2.05rem 10.35rem;
        width: 36.8rem;
        height: 100%;
        background-color: #ffffff;
        flex-shrink: 0;

        .frame-12-L7B {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;

          .auto-group-au5f-tPb {
            width: calc(100% - 2.4rem);
            display: flex;
            column-gap: 1.1rem;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0.95rem 1rem 1.45rem;

            .vector-CQH {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-ZEq {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-JTK {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
            }
            .vector-eXB {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-PzZ {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .pastel-long-sleeve-YcZ {
            font-weight: 700;
            line-height: 1.2925;
            color: #000000;
            font-family: Frank Ruhl Libre, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 2rem;
          }
          .auto-group-hzph-5sP {
            margin: 0rem 3rem 0rem 1rem;
            width: calc(100% - 4rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-220-RAZ {
              line-height: 1.5;
              color: rgba(0, 0, 0, 0.3400000036);
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.3rem;
              font-size: 2rem;
              font-weight: 500;
            }
            .item-140-wub {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .auto-group-ci1w-sYM {
      box-sizing: border-box;
      padding: 8rem 7rem 0rem 7.2rem;
      width: 100%;
      height: 54.8rem;
      display: flex;
      align-items: center;
      background-color: #c7cfb7;
      flex-shrink: 0;

      .auto-group-gcc1-Pmb {
        margin: 0rem 12.8rem 21.8rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .deal-of-the-day-XN1 {
          font-family: Frank Ruhl Libre, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          font-size: 6.4rem;
          font-weight: 900;
          line-height: 1.2925;
          color: #000000;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nullam-vel-urna-vitae-dolor-convallis-pharetra-fDK {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 50.1rem;
        }
      }
      .auto-group-hm4u-LqF {
        flex-shrink: 0;
        width: 40.4rem;
        height: 100%;
        background: linear-gradient(180deg, #ffffff -0%, #c7cfb7 100%);

        .happy-young-man-pointing-1-6pR {
          width: 40.4rem;
          height: 46.8rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
  }
  .auto-group-vdso-C6m {
    width: 151.4rem;
    height: 72rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-34-JvV {
      left: 0;
      top: 0;
      background-color: #d9d9d9;
      width: 30.2rem;
      height: 27.4rem;
      position: absolute;
    }
    .rectangle-35-THb {
      top: 0;
      background-color: rgba(223, 223, 223, 0.3700000048);
      width: 30.3rem;
      height: 27.4rem;
      position: absolute;
      left: 30.2rem;
    }
    .rectangle-36-zHX {
      width: 30.2rem;
      height: 27.4rem;
      position: absolute;
      left: 60.5rem;
      top: 0;
      background-color: #d9d9d9;
    }
    .rectangle-38-88q {
      position: absolute;
      left: 121rem;
      top: 0;
      background-color: #d9d9d9;
      width: 30.2rem;
      height: 27.4rem;
    }
    .rectangle-37-f8m {
      height: 27.4rem;
      position: absolute;
      left: 90.7rem;
      top: 0;
      background-color: rgba(223, 223, 223, 0.3700000048);
      width: 30.3rem;
    }
    .rectangle-39-C8h {
      width: 151.2rem;
      height: 44.6rem;
      position: absolute;
      left: 0;
      top: 27.4rem;
      background-color: #557174;
    }
    .frame-13-wc5 {
      position: absolute;
      left: 47.2rem;
      top: 42.2rem;
      display: flex;
      align-items: center;
      width: 57.3rem;
      height: 3rem;

      .men-sEq {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.8rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
      }
      .woman-bwX {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.3rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
      }
      .kids-MA1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.6rem;
      }
      .collections-G25 {
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.4rem;
        font-size: 2rem;
      }
      .trends-CRX {
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .copyright-maxhu-all-right-reserved-LGq {
      position: absolute;
      top: 52.7rem;
      font-size: 2.4rem;
      font-weight: 500;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 43.6rem;
      left: 53.8rem;
      line-height: 1.5;
      height: 3.6rem;
    }
    .portrait-handsome-smiling-stylish-young-man-model-wearing-jeans-clothes-sunglasses-fashion-man158538-5015-1-DLd {
      height: 27.4rem;
      position: absolute;
      left: 0.1rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 30.2rem;
    }
    .portrait-handsome-smiling-stylish-young-man-model-dressed-red-checkered-shirt-fashion-man-posing-1-thf {
      object-fit: cover;
      vertical-align: top;
      width: 30.3rem;
      height: 27.4rem;
      position: absolute;
      left: 30.1rem;
      top: 0;
    }
    .portrait-handsome-smiling-model-sexy-stylish-man-dressed-red-checkered-shirt-jeans-fashion-hipster-male-posing-near-blue-studio-isolated-touching-his-chin-1-PeR {
      vertical-align: top;
      width: 30.3rem;
      height: 27.4rem;
      position: absolute;
      left: 90.8rem;
      top: 0;
      object-fit: cover;
    }
    .portrait-handsome-smiling-stylish-young-man-1-f69 {
      height: 27.4rem;
      position: absolute;
      left: 121.1rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 30.3rem;
    }
    .young-hipster-guy-wearing-glasses-laughing-happily-isolated-white-1-nAm {
      object-fit: cover;
      vertical-align: top;
      width: 30.3rem;
      height: 27.4rem;
      position: absolute;
      left: 60.4rem;
      top: 0;
    }
    .group-5-J97 {
      height: 8.8rem;
      font-weight: 900;
      line-height: 1.2;
      font-family: Lato, 'Source Sans Pro';
      justify-content: center;
      width: 62.5rem;
      white-space: nowrap;
      display: flex;
      position: absolute;
      top: 23rem;
      align-items: center;
      left: 45.2rem;
      font-size: 2rem;
      color: #000000;
      background-color: #ffffff;
    }
  }
}
