
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.iphone-14-1-TKw {
  position: relative;
  align-items: center;
  border-radius: 2.4rem;
  box-sizing: border-box;
  padding-top: 6rem;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .auto-group-k9af-PN1 {
    position: relative;
    flex-shrink: 0;
    margin-bottom: 3.6rem;
    width: 100%;
    height: 48rem;

    .rectangle-1-4Mf {
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background: linear-gradient(153.31deg, rgba(221, 208, 239, 0.7900000215) 3.24%, rgba(221, 208, 239, 0.1899999976) 98.76%);
      border-radius: 2.4rem;
      width: 35rem;
      height: 48rem;
      position: absolute;
      left: 2rem;
      top: 0;
    }
    .d-purple-financial-and-investment-icon-illustration-rendering-png-1-SND {
      width: 39rem;
      height: 41.6rem;
      position: absolute;
      left: 0;
      top: 3.2rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .best-way-to-invest-your-money-7DT {
    font-weight: 600;
    line-height: 1.5;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 0.5rem;
    font-size: 2rem;
  }
  .auto-group-xsvt-PAy {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.4rem 3.5rem;
    width: 100%;
    align-items: center;

    .group-1-uf7 {
      align-items: center;
      background-color: #af21e8;
      flex-shrink: 0;
      width: 100%;
      font-weight: 600;
      justify-content: center;
      border-radius: 0.8rem;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 5.1rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      margin-bottom: 2.8rem;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      font-size: 1.8rem;
    }
    .group-2-Hff {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      box-sizing: border-box;
      font-weight: 600;
      color: #000000;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      height: 5.1rem;
      border: solid 0.1rem #dfeaef;
      align-items: center;
      justify-content: center;
      width: 100%;
      line-height: 1.5;
      border-radius: 0.8rem;
      font-size: 1.8rem;
      background-color: #d9d9d9;
    }
  }
}
