
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.iphone-14-3-JDw {
  width: 100%;
  height: 84.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 2.4rem;
}
.iphone-14-3-JDw .d-purple-financial-and-investment-icon-illustration-rendering-png-1-RZT {
  width: 39rem;
  height: 42.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-3-JDw .rectangle-1-wXo {
  width: 39rem;
  height: 60.3rem;
  position: absolute;
  left: 0;
  top: 24rem;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(158.32deg, #d9d1e4 0.8%, rgba(177, 136, 228, 0.8999999762) 46.03%, #c295fd 97.1%);
  border-radius: 2.4rem;
}
.iphone-14-3-JDw .create-account-CTj {
  width: 16rem;
  height: 3rem;
  position: absolute;
  left: 12.1rem;
  top: 26.1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-3-JDw .group-4-sZs {
  width: 32rem;
  height: 5.1rem;
  position: absolute;
  left: 3.5rem;
  top: 70.1rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #af21e8;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.iphone-14-3-JDw .rectangle-4-Wcq {
  width: 32rem;
  height: 4rem;
  position: absolute;
  left: 3.5rem;
  top: 52.5rem;
  background-color: #dfeaef;
  border-radius: 0.8rem;
}
.iphone-14-3-JDw .rectangle-6-qf7 {
  width: 32rem;
  height: 4rem;
  position: absolute;
  left: 3.5rem;
  top: 44.3rem;
  background-color: #dfeaef;
  border-radius: 0.8rem;
}
.iphone-14-3-JDw .rectangle-7-Zb7 {
  width: 32rem;
  height: 4rem;
  position: absolute;
  left: 3.5rem;
  top: 36.2rem;
  background-color: #dfeaef;
  border-radius: 0.8rem;
}
.iphone-14-3-JDw .rectangle-5-65F {
  width: 32rem;
  height: 4rem;
  position: absolute;
  left: 3.5rem;
  top: 60.9rem;
  border: solid 0.2rem #7d6af5;
  box-sizing: border-box;
  background-color: #dfeaef;
  border-radius: 0.8rem;
}
.iphone-14-3-JDw .mdi-eye-c3b {
  width: 2.2rem;
  height: 1.5rem;
  position: absolute;
  left: 32.2rem;
  top: 62.15rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-3-JDw .email-isK {
  width: 4.9rem;
  height: 2.7rem;
  position: absolute;
  left: 3.4rem;
  top: 49rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-3-JDw .password-2t1 {
  width: 8.7rem;
  height: 2.7rem;
  position: absolute;
  left: 3.5rem;
  top: 57.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-3-JDw .phone-number-wzy {
  width: 13.4rem;
  height: 2.7rem;
  position: absolute;
  left: 3.5rem;
  top: 40.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-3-JDw .full-name-FVs {
  width: 8.8rem;
  height: 2.7rem;
  position: absolute;
  left: 3.5rem;
  top: 32.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-3-JDw .ic-round-arrow-back-jA9 {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 2.7rem;
  top: 2.5rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-3-JDw .group-5-SqF {
  width: 22.9255rem;
  height: 2.4rem;
  position: absolute;
  left: 7.7rem;
  top: 78rem;
  display: flex;
  align-items: center;
}
.iphone-14-3-JDw .group-5-SqF .im-already-a-member-mMj {
  margin: 0rem 0.425rem 0.1rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4d4c4c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-3-JDw .group-5-SqF .sign-in-45w {
  margin-top: 0.1rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4d4c4c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.iphone-14-3-JDw .group-5-SqF .sign-in-45w .sign-in-45w-sub-0 {
}
.iphone-14-3-JDw .group-5-SqF .sign-in-45w .sign-in-45w-sub-1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #7d6af5;
  font-family: Poppins, 'Source Sans Pro';
}
